body {
    color: white;
    background-color: red;
}


.flex-caption {
    width: 800px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -400px;
    text-align: center;
    z-index: 120;
    color: #fff;
}

#row2 {
    color: white;
}

.carousel-control-prev {
    background-color: red;
    color: white;
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50%;
}

.carousel-control-next {
    background-color: red;
    color: white;
    width: 50px;
    height: 100px;
    position: absolute;
    top: 50%;
}

.grey{
    filter: grayscale(100%)
}
